/**
 * =================================
 * Colors
 * =================================
 **/

$primary: #E4253C;
$accent: #340F10;
$white: #FFFFFF;
$black: #000000;
$white-border: #F5F5F7;
$gray: #565656;
